.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  display: grid;
  text-align: center;
  align-items: center;
  background-position: center;
  padding: 4vw;
  background:linear-gradient(to right, black, rgb(70, 68, 68));
  /* grid-template-columns: 50% 50%; */
  height: 100vh;
 max-height: 100vh;
}
.main1{
  text-align: center;
  width:35%;
  display: grid;
  /* margin:10vw; */
  /* height:100vh; */
  /* margin-top: 8%; */
  margin-left:25%;
  padding: 8vw;
  /* background-color: #282c34; */
  border-radius: 5px;
 
  background:linear-gradient(to right, rgb(112, 110, 110), rgb(13, 13, 13));
}
.main1 input , button{
  height:25px;
  margin:0.8vw;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
.main2{
  text-align: center;
  width:40%;
  display: grid;
  /* margin:10vw; */
  /* height:100vh; */
  /* margin-top: 8%; */
  margin-left:25%;
  padding: 5vw;
  /* background-color: #282c34; */
  background:linear-gradient(to right, rgb(112, 110, 110), rgb(13, 13, 13));
  border-radius: 5px;
  
}
.main2 input , button{
  height:25px;
  margin:0.8vw;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
.mainbody{
  height:100vh;
  display: grid;
  grid-template-rows:10% 70% 20%;
  
}
.head1{
  background:linear-gradient(to right, black, white);
  text-align: center;
}
.search{
  background:linear-gradient(to right, black, white);
  padding: 2vw;
  overflow: auto;
  /* height:80%; */
  /* width: 100vw; */
  text-align: center;
}
.search input{
  height: 40px;
  width:40%;
}
.search button{
  height: 40px;
  width:80px;
}
.result{
  color: azure;
  background:linear-gradient(to right, black, rgb(70, 68, 68));
  overflow-y:scroll;
  width: 100vw;
  
}

/* Define a keyframes animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

/* Apply the animation to p elements with a class of "typewriter" */
.typewriter {
  /* display:block; */
  overflow:hidden;
  white-space:nowrap;
  animation: typing 3s steps(40, end);
  width: 100%;
  /* max-width: 100vw; */
}


.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
} 

